{\n  \"extends\": [\"stylelint-config-standard\"],\n  \"rules\": {\n    \"at-rule-no-unknown\": [\n      true,\n      {\n        \"ignoreAtRules\": [\n          \"tailwind\",\n          \"apply\",\n          \"variants\",\n          \"responsive\",\n          \"screen\",\n          \"layer\"\n        ]\n      }\n    ],\n    \"declaration-block-trailing-semicolon\": null,\n    \"no-descending-specificity\": null,\n    \"function-no-unknown\": [\n      true,\n      {\n        \"ignoreFunctions\": [\"theme\"]\n      }\n    ]\n  }\n}